<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     >

<form action="./generate">

<input name="partner_id" value="${partner_id}" type="hidden" />

<label for="manuscript">Manuscript Title</label>
   <input name="manuscript" id="txt_title" />
   <a href="help/title.html?width=200" class="jTip helpLink" id="title" name="Manuscript Title">?</a><br/>

<label for="journal">Journal</label>
   <input name="journal" id="txt_journal" />
   <a href="help/journal.html?width=200" class="jTip helpLink" id="journal" name="Journal">?</a><br/>


<label for="author">Author Information</label>
  <div id="author_container">
   <input name="author" />
   <a href="help/author.html?width=200" class="jTip helpLink" id="author" name="Author Information">?</a>
   <a href="#" class="helpLink" id="addAuthor" name="add author">+</a><br/>
  </div>

<label for="publisher">Publisher</label>
   <input name="publisher"  id="txt_publisher" />
   <a href="help/publisher.html?width=200" class="jTip helpLink" 
      id="publisher" name="Publisher">?</a><br/>

<label for="agreement">Agreement Type</label>
        
   <select name="agreement">
     <py:for each="agr in agreements">
       <py:choose>
	 <py:when test="default == agr">
	   <option value="${agr}" selected="1">${agreements[agr].NAME}</option>
	 </py:when>
	 <py:otherwise>
	   <option value="${agr}">${agreements[agr].NAME}</option>
	 </py:otherwise>
       </py:choose>
     </py:for>
   </select>

   <a href="help/agreement.html?width=200" class="jTip helpLink" 
      id="agreement" name="Agreement Type">?</a><br/>

<button type="submit" class="generate" id="generate">Generate Addendum</button>

</form>

</div>
