<div>

<h1 class="logo">Scholars Copyright</h1>

<p>Please enter the information requested below and choose a version of the Science Commons Author's Addendum to generate an addendum. For more information on how to select and use an addendum, refer to <a href="http://www.sciencecommons.org/resources/faq/authorsaddendum.html">the FAQ</a>.</p>


<form action="./generate">

<input name="partner_id" value="${partner_id}" type="hidden" />

<label for="manuscript">Manuscript Title</label>
   <input name="manuscript" id="txt_title" />
   <a href="help/title.html?width=200" class="jTip helpLink" id="title" name="Manuscript Title">?</a><br/>

<label for="journal">Journal</label>
   <input name="journal" id="txt_journal" />
   <a href="help/journal.html?width=200" class="jTip helpLink" id="journal" name="Journal">?</a><br/>


<label for="author">Author Information</label>
  <div id="author_container">
   <input name="author" />
   <a href="help/author.html?width=200" class="jTip helpLink" id="author" name="Author Information">?</a>
   <a href="#" class="helpLink" id="addAuthor" name="add author">+</a><br/>
  </div>

<label for="publisher">Publisher</label>
   <input name="publisher"  id="txt_publisher" />
   <a href="help/publisher.html?width=200" class="jTip helpLink" 
      id="publisher" name="Publisher">?</a><br/>

<label for="agreement">Agreement Type</label>
        
   <select name="agreement">
     <option value="noembargo">OpenAccess-Publish</option>
     <option value="embargo">OpenAccess-Delay</option>
     <option value="retaincc">OpenAccess-Creative Commons</option>
   </select>

   <a href="help/agreement.html?width=200" class="jTip helpLink" 
      id="agreement" name="Agreement Type">?</a><br/>

<button type="submit" class="generate" id="generate">Generate Addendum</button>

<p class="footer" style="text-align:left;">IMPORTANT NOTICE:  This website 
provides general information and sample agreements but it does not 
provide individual legal advice. Creative Commons Corporation, including 
Science Commons ("Creative Commons"), is not a law firm and does not 
provide legal services, and you should not rely on us for legal advice. Using the materials on this website or communicating with us does not create an attorney-client relationship. Creative Commons provides this general legal information on an 'as-is' basis. Creative Commons makes no warranties, including, but not limited to, the warranties of merchantability and fitness for a particular purpose, regarding the information or materials provided on this website. Creative Commons is not a party to this addendum or any related agreement. You agree that as consideration for making these materials available to you free of charge, you shall not bring suit against Creative Commons or otherwise hold Creative Commons liable to You or any party on any legal theory for any damages whatsoever, including without limitation any general, special, incidental or consequential damages arising in connection to your use of the materials and information.</p>


</form>

</div>
