<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
  <title>Science Commons: Scholar's Copyright Agreement</title>

<script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/animation/animation-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/container/container-min.js"></script>

<script type="text/javascript" src="js/jquery.pack.js"></script>

<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" 
    href="http://yui.yahooapis.com/2.2.2/build/container/assets/container.css"/>
<link py:if="stylesheet" rel="stylesheet" type="text/css" href="${stylesheet}"/>


<script type="text/javascript" src="js/scholars.js"></script>

</head>

<body>

<div id="content">

<h1 class="logo">Scholars Copyright</h1>

<p>Please enter the information requested below and choose a version of the Science Commons Author's Addendum to generate an addendum. For more information on how to select and use an addendum, refer to <a href="http://www.sciencecommons.org/resources/faq/authorsaddendum.html">the FAQ</a>.</p>

<xi:include href="form.html" />
<xi:include href="disclaimer.html" />

</div>

</body>
</html>
