<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
  <title>Science Commons: Scholar's Copyright Agreement</title>

<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link py:if="stylesheet" rel="stylesheet" type="text/css" href="${stylesheet}" />
<link rel="stylesheet" type="text/css" href="css/jtip.css" />

<script type="text/javascript" src="js/jquery.pack.js"></script>
<script type="text/javascript" src="js/jtip.js"></script>

<script type="text/javascript" src="js/scholars.js"></script>

</head>

<body>

<div id="content">

<xi:include href="form.html" />

</div>

</body>
</html>
