<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:sc="http://sciencecommons.org/ns#">
  <head>
    <title>Science Commons Deed</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    <link rel="stylesheet" type="text/css"
    href="http://yui.yahooapis.com/2.7.0/build/container/assets/skins/sam/container.css"
    /> 
    <script type="text/javascript"
    src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
    <script type="text/javascript"
    src="http://yui.yahooapis.com/2.7.0/build/container/container-min.js"></script> 
    
    <script type="text/javascript"
	    src="http://creativecommons.org/includes/help.js">
    </script>

    <script type="text/javascript"
	    src="/script/mta-bootstrap.js" />

    <link rel="stylesheet" type="text/css" href="/scdeed.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/scdeed-print.css" media="print" />
    <link rel="alternate" type="application/rdf+xml" href="rdf" /> 
  </head>
  <body class="yui-skin-sam">

    <div id="header">
      <p align="center"><a href="http://sciencecommons.org/">Science Commons</a></p>
    </div>
    <div id="deed" class="blue">  
      <div id="deed-head">
	<!-- this image ins't even shown... -->
	<div id="cc-logo"><img src="/images/sc-logo.gif" alt="sc logo"/></div>
	<div id="deed-license">
	  <h2>
	  <span>${longname}</span>
	  <br/>
	  ${code} ${version}
	  </h2>
	</div>
      </div>
      <div id="deed-main">
	<div id="deed-main-content">
	  <div id="deed-rights">
	    <h3>You are free to:</h3>
	    <ul id="permissions">
	      <py:for each="clause in permissions">
		<li class="license permission" 
		    rel="cc:permits" 
		    resource="${clause.uri}">
		  <strong>${clause.short}</strong>
		   ${clause.long}
		</li>
	      </py:for>
	      </ul>
	  </div>
	  <div id="deed-conditions">
	    <h3>Under the following conditions:</h3>
	    <ul id="requirements">
	      <py:for each="clause in conditions">
		<li class="license ${clause.code}" 
		    id="requirement-${clause.code}"
		    rel="${clause.get('rel', 'cc:prohibits')}" 
		    resource="${clause.uri}">
		   ${clause.long}
		   <py:if test="clause.extra">
		     <br>${clause.extra}</br>
		   </py:if>
		</li>
	      </py:for>
	      </ul>
	  </div>
	</div>
      </div>

      <div id="deed-foot">
       ${footer}
       <br/>
	<p id="disclaimer">
	  <a href="#" class="helpLink" id="disclaimer">Disclaimer</a>
	</p>
	<p>
	  This is a human readable version of the
	  full <a href="${legalurl}">MTA</a>.
	</p>
	<div id="help_disclaimer">
	  <div class="hd">
	    Disclaimer
	  </div>
	  <div class="bd">
	    <p>
	      The MTA Deed is not an agreement. It is simply a handy
	      reference for understanding the Legal Code (the full
	      MTA) &mdash; a human-readable expression of some of its
	      key terms. Think of it as the user-friendly interface to
	      the Legal Code beneath. This Deed itself has no legal
	      value, and its contents do not appear in the actual
	      agreement.
	    </p>

	    <p>Creative Commons is not a law firm and does not provide
	      legal services. Distributing of, displaying of, or
	      linking to this MTA Deed does not create an
	      attorney-client relationship.
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <p id="footer">
      <a href="/" >Learn more.</a>
    </p>

  </body>
</html>
