body {
    font-size: 85%;
    margin: 15px;
}

h1 {
   font-size: 136%;
   padding-bottom: 10px;
}

p {
  padding-bottom: 10px;
}

#selector {
    border-right:1px solid;
    float:left;
    padding: 5px;
    margin: 5px;
    width: 50%;
}

#results {
   margin: 5px;
   padding: 5px;
}

#metadata {
   border: 1px solid;
   font-size: 85%;   
   width: 500px;
}

.sub_selector {
   margin-left: 15px;
   display:none;
   visibility:hidden;
}

#material_details label {
   float:left;
   width:150px;
}

#cmd_show_material_dlg {
   float: right;
}
