<div xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

    <!-- Real version -->
    <div py:if="not(debug)" py:strip="True" >
      <script type="text/javascript" src="http://yui.yahooapis.com/2.2.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
      <script type="text/javascript" src="http://yui.yahooapis.com/2.2.1/build/element/element-beta-min.js"></script>
      <script type="text/javascript" src="http://yui.yahooapis.com/2.2.1/build/button/button-beta-min.js"></script>
      <script type="text/javascript" src="http://yui.yahooapis.com/2.2.1/build/animation/animation-min.js"></script>
      <script type="text/javascript" src="http://yui.yahooapis.com/2.2.1/build/connection/connection-min.js"></script>
      <script type="text/javascript" src="http://yui.yahooapis.com/2.2.1/build/autocomplete/autocomplete-min.js"></script>
      <script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/container/container-min.js"></script>
    </div>

    <div py:if="debug" py:strip="True" >
      <!-- Debugging version - requires link in static directory -->
      <script type="text/javascript" src="yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
      <script type="text/javascript" src="yui/build/element/element-beta-debug.js"></script>
      <script type="text/javascript" src="yui/build/button/button-beta-debug.js"></script>
      <script type="text/javascript" src="yui/build/animation/animation-debug.js"></script>
      <script type="text/javascript" src="yui/build/connection/connection-debug.js"></script>
      <script type="text/javascript" src="yui/build/autocomplete/autocomplete-debug.js"></script>
      <script type="text/javascript" src="yui/build/container/container-debug.js"></script>
      <script type="text/javascript" src="yui/build/logger/logger-debug.js"></script>
    </div>

    <script type="text/javascript" src="http://mta.sciencecommons.org/ext/adapter/yui/ext-yui-adapter.js"></script>

    <script py:if="not(debug)" type="text/javascript" src="http://mta.sciencecommons.org/ext/ext-custom.js"></script>
    <script py:if="debug" type="text/javascript" src="http://mta.sciencecommons.org/ext/ext-all-debug.js"></script>

    <style type="text/css">
      #field_disease_detail {z-index:9050;padding-bottom:10px;}
      #ysearchautocomplete {position:relative;}
      #field_disease {position:relative;width:20em;height:1.4em;}
      #field_disease_ac {position:absolute;left:0;top:1.7em;display:inline;}
      #field_disease_ac .yui-ac-content {position:absolute;left:0;top:0;width:20em;border:1px solid #404040;background:#fff;overflow:hidden;text-align:left;z-index:9050;}
      #field_disease_ac .yui-ac-shadow {position:absolute;left:0;top:0;margin:.3em;background:#a0a0a0;z-index:9049;}
      #field_disease_ac ul {padding:5px 0;width:100%;}
      #field_disease_ac li {padding:0 5px;cursor:default;white-space:nowrap;}
      #field_disease_ac li.yui-ac-highlight {background:#ff0;}
      #ysearchsubmit {position:relative;}
    </style>

    <!-- Pass embedded down below -->
    <script py:if="embedded" type="text/javascript">
      MTA_embedded = true;
    </script>
    <script py:if="not(embedded)" type="text/javascript">
      MTA_embedded = false;
    </script>


    <div py:if="not(debug)" py:strip="True" >
     <script type="text/javascript" src="http://mta.sciencecommons.org/mta.js"></script>
     <script type="text/javascript" src="http://mta.sciencecommons.org/chooser.js"></script>
    </div>
    <div py:if="debug" py:strip="True" >
     <script type="text/javascript" src="mta.js"></script>
     <script type="text/javascript" src="chooser.js"></script>
    </div>


</div>
