<div>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.2.1/build/reset/reset-min.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.2.1/build/fonts/fonts-min.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.2.1/build/button/assets/button.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.2.2/build/container/assets/container.css"/> 

    <style type="text/css">
	  @import url(/ext/resources/css/ext-all.css);
	  @import url(/mta.css);

.yui-module { border:1px dotted black;padding:5px;margin:10px; }
.yui-module .hd { border-bottom:1px dotted red;padding:5px; }
.yui-module .bd {  }
.yui-module .ft {  }




    </style>
</div>
