<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:cc="http://creativecommons.org/ns#">
  <head>
    <title>Science Commons Deed</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/includes/deed3.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/includes/deed3-print.css" media="print" />

    <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="/includes/deed3-ie.css" media="screen" /><![endif]-->

    <link rel="alternate" type="application/rdf+xml" href="rdf" /> 
  </head>
  <body>

    <div id="header">
      <p align="center"><a href="http://sciencecommons.org/">Science Commons</a></p>
    </div>
    <div id="deed" class="green">  
      <div id="deed-head">
	<!-- this image ins't even shown... -->
	<div id="cc-logo"><img src="/images/sc-logo.gif" alt="sc logo"/></div>
	<div id="deed-license">
	  <h2>
	  <span>${longname}</span>
	  <br/>
	  ${code} ${version}
	  </h2>
	</div>
      </div>
      <div id="deed-main">
	<div id="deed-main-content">
	  <div id="deed-rights">
	    <ul>
	      <py:for each="clause in permissions">
		<!-- icon comes from class, we may want to redo that.. -->
		<li class="license ${clause.code}" 
		    rel="cc:permits" 
		    href="${clause.uri}">
		  <strong>${clause.short}</strong>
		   ${clause.long}
		</li>
	      </py:for>
	      </ul>
	  </div>
	  <div id="deed-conditions">
	    <h3>Under the following conditions:</h3>
	    <ul>
	      <py:for each="clause in conditions">
		<!-- icon comes from class, we may want to redo that.. -->
		<li class="license ${clause.code}" 
		    rel="cc:permits" 
		    href="${clause.uri}">
		  <strong>${clause.short}</strong>
		   ${clause.long}
		</li>
	      </py:for>
	      </ul>
	  </div>
	</div>
      </div>

      <div id="deed-foot">
       ${footer}
       <br/>
	<p id="disclaimer">
	  <a href="/disclaimer" target="_blank">Disclaimer</a>
	</p>
	This is a human readable version of the full <a href="${legalurl}">MTA</a>.
      </div>
    </div>
    <p id="footer">
      <a href="/" >Learn more.</a>
    </p>

  </body>
</html>
