<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     id="wizard" >
     <!-- This file gets converted into document.writes() in a .js file -->

<!--     <xi:include href="chooser-styles.html"/> -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.2.2/build/container/assets/container.css"/> 

<!--     <link rel="stylesheet" type="text/css" href="/ext/resources/css/ext-all.css"/> -->
    <link rel="stylesheet" type="text/css" href="/ext/resources/css/core.css"/>
    <link rel="stylesheet" type="text/css" href="/ext/resources/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="/ext/resources/css/form.css"/>
    <link rel="stylesheet" type="text/css" href="/ext/resources/css/button.css"/>
    <link rel="stylesheet" type="text/css" href="/ext/resources/css/basic-dialog.css"/>
    <link rel="stylesheet" type="text/css" href="/ext/resources/css/date-picker.css"/>

<!--     <link rel="stylesheet" type="text/css" href="/mta.css"/>  -->

    <xi:include href="wizard.html"/>  

    <xi:include href="chooser-scripts.html" parse="text"/> 

</div>

