<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>

<title>Generate Materials Transfer Agreement</title>


<link rel="stylesheet" type="text/css" href="yui/build/reset/reset.css" />
<link rel="stylesheet" type="text/css" href="yui/build/fonts/fonts.css" /> 
<link rel="stylesheet" type="text/css" 
      href="yui/build/container/assets/container.css" /> 
<style type="text/css">
<!--
  @import url(/ext/resources/css/ext-all.css);
  @import url(/mta.css);

.yui-module { border:1px dotted black;padding:5px;margin:10px; }
.yui-module .hd { border-bottom:1px dotted red;padding:5px; }
.yui-module .bd {  }
.yui-module .ft {  }
-->

</style>
<!-- CSS -->
<link rel="stylesheet" type="text/css" 
      href="http://yui.yahooapis.com/2.2.1/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" 
      href="http://yui.yahooapis.com/2.2.1/build/button/assets/button.css" />
<link rel="stylesheet" type="text/css" 
      href="http://yui.yahooapis.com/2.2.2/build/container/assets/container.css"/> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.1/build/element/element-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.1/build/button/button-beta-min.js"></script>
<script src="http://yui.yahooapis.com/2.2.1/build/animation/animation-min.js">
</script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.1/build/connection/connection-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.1/build/autocomplete/autocomplete-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/container/container-min.js"></script> 

<script type="text/javascript" src="/ext/adapter/yui/ext-yui-adapter.js">
</script>
<script type="text/javascript" src="/ext/ext-all.js"></script>

<style type="text/css">
            #field_disease_detail {z-index:9050;padding-bottom:10px;}
            #ysearchautocomplete {position:relative;}
            #field_disease {position:relative;width:20em;height:1.4em;}
            #field_disease_ac {position:absolute;left:0;top:1.7em;display:inline;}
            #field_disease_ac .yui-ac-content {position:absolute;left:0;top:0;width:20em;border:1px solid #404040;background:#fff;overflow:hidden;text-align:left;z-index:9050;}
            #field_disease_ac .yui-ac-shadow {position:absolute;left:0;top:0;margin:.3em;background:#a0a0a0;z-index:9049;}
            #field_disease_ac ul {padding:5px 0;width:100%;}
            #field_disease_ac li {padding:0 5px;cursor:default;white-space:nowrap;}
            #field_disease_ac li.yui-ac-highlight {background:#ff0;}
            #ysearchsubmit {position:relative;}
</style>

<script type="text/javascript" src="/mta.js"></script>
<script type="text/javascript" src="/chooser.js"></script>

</head>

<body>

<h1>Materials Transfer Agreement</h1>

<p>Science Commons Materials Transfer Agreements allow you to blah, blah,
lorem ipsum, yada, yada...</p>

<div id="selector">

<div class="section_header">Provider Information</div>

<p>
    <label for="material_provider">Provider:</label>
    <input type="textbox" id="material_provider"/>
</p>

<p>
    <label for="material_provider_url">Provider URL:</label>
    <input type="textbox" id="material_provider_url"/>
</p>

<p>
    <label for="nonprofit_provider">Are you a non-profit institution?</label>
    <input id="nonprofit_provider" type="checkbox" />
</p>

<div class="section_header">Material Information</div>

<p>
    <label for="material_desc">Description:</label>
    <input type="textbox" id="material_desc" />
</p>
<p>
    <label for="material_uri">Material URL:</label>
    <input type="textbox" id="material_uri" /> 
    [<a href="#">More Information</a>]
</p>

<p>
<label>&nbsp;</label>
<span id="btn_generate_material_uri" class="yuibutton">
    <span class="first-child">
        <button type="button" name="generate_material_uri">generate a url</button>
    </span>
</span>

</p>

<div class="section_header">Transfer Offers</div>

<p>An Offer is an agreement which a recipient can take advantage of...
lorem, ipsum, all that jazz.</p>

<div id="offer_container">
</div>

<p>
<label>&nbsp;</label>
<span id="btn_add_offer" class="yuibutton">
    <span class="first-child">
        <button type="button" name="add_offer">add</button>
    </span>
</span>
</p>

</div>

<div id="results">

<p>You can include information about the offers on your web page; just copy
and paste the HTML below into your page.  The HTML includes machine-readable
metadata which software can discover and aggregate.</p>

<textarea id="metadata" rows="10" cols="50">
</textarea>

</div>

<!-- Add Offer dialog -->
<div id="add-offer-dlg" style="visibility:hidden;">
  <div class="x-dlg-hd">Add Offer</div>

  <div class="x-dlg-bd">

    <div id="welcome" 
	 class="x-layout-inactive-content" style="padding:10px;">
      <p>Welcome; this wizard will walk you through the offer configuration 
      process.</p>
      <p>Whom is this offer made to?</p>
      <label><input type="radio" name="offer_to" id="offer_to_nonprofit" value="to_non_profit"/> Non-profit institutions</label><br/>
      <label><input type="radio" name="offer_to" id="offer_to_all" value="to_all"/> All institutions</label><br/>
    </div>

    <div id="agreement_type" 
	 class="x-layout-inactive-content" style="padding:10px;">
      <p>What type of agreement are you offering?</p>

<!--
      <label><input type="radio" name="agreement_type" id="agr_ubmta" checked=""
		    value="agr_ubmta"/> UBMTA</label><br/>
      <label><input type="radio" name="agreement_type" id="agr_sla"
		    value="agr_sla"/> SLA</label><br/>
      <label><input type="radio" name="agreement_type" id="agr_scicom"
		    value="agr_scicom"/> Science Commons</label><br/>
      <label><input type="radio" name="agreement_type" id="agr_custom"
		    value="agr_custom"/> Custom</label>
      <div id="custom_url_info" style="visibility:hidden;">
      <label for="agr_custom_url">Agreement URL:</label>
        <input name="agr_custom_url" width="50" />
      </div>
-->

    </div>

    <div id="scicom_chooser" 
	 class="x-layout-inactive-content" style="padding:10px;">


<p><label for="field">Specify a field of use:</label>

  <select id="field" size="1" onchange="updateMta(); update_field('field');">
    <option value="all">All Research Uses</option>
    <option value="disease">Disease Field of Use</option>
    <option value="protocol">Restricted Protocol</option>
  </select> 
 [<a href="">More information</a>]
</p>

<p id="field_all_detail" class="sub_selector"/>

<div id="field_disease_detail" class="sub_selector">
        
Disease Field: <span id="ysearchautocomplete"><input id="field_disease" type="text"/>

   <div id="field_disease_ac"></div></span>
</div>

<p id="field_protocol_detail" class="sub_selector">
Research Protocol: <input id="field_protocol" />
</p>

<p><label for="scaling">Is Scaling Up allowed?</label>

  <select id="scaling" size="1" onchange="updateMta();">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>
 [<a href="">More information</a>]

</p>

<p><label for="term">What is the duration of the permitted use? </label>
  <select id="term" size="1" onchange="updateMta(); update_field('term');">
    <option value="variable">Until Completion</option>
    <option value="fixed">Fixed Term</option>
  </select>
  [<a href="">More information</a>]
</p>

<p id="term_variable_detail" class="sub_selector" />
<p id="term_fixed_detail"  class="sub_selector">
Contract Term: <input id="term_fixed" />
</p>

<p>
  <label for="retain">Is the recipient permitted to retain Materials 
    at the end of the permitted use?</label>

  <select id="retain" size="1" onchange="updateMta();">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>
 [<a href="">More information</a>]
</p>

    </div>

    <div id="finish" 
	 class="x-layout-inactive-content" style="padding:10px;">
      <p>We've collected all the information required for your offer.  Click
	<em>Finish</em> to add the offer.</p>
    </div>


  </div>
</div>

</body></html>
