/* About Science Commons section styles for Science Commons site  */



#divtitle {
  background-image: url(../img/projects/sitetitlebkg.jpg);
}

#divtertiarynav {
  top: 380px;
}
#divtertiarynav a,
#divtertiarynav a:link,
#divtertiarynav a:visited {
  color: #138083;
}

#divtext h2 {
  color: #03777b;
}
